@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@200;300;400;600&family=Inter:wght@400;700&family=Julius+Sans+One&display=swap");

/*-----------RESET----------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* border: solid red 1px; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

#back-btn {
  width: 3em;
  height: 3em;
  border: none;
  padding-bottom: 1.5em;
}

#backArrow-btn {
  width: 3em;
  height: 3em;
  border: none;
  background: none;
  margin-bottom: 10px;
}

#backArrow-btn > img {
  width: 40px;
}

/* html {
  color-scheme: dark light;
} */

/*--------APP----------*/

.App {
  background-color: #3200e0;
  color: #ffa001;
  font-family: "Anek Kannada", sans-serif;
  width: 100.08vw;
}

.App-layer2 {
  background-color: #01aab3;
  border-radius: 45px 45px 0 0;
}

/*----------HEADER---------*/

.Header {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  padding: 0.5em 0 0.5em 2em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
}

/*--------NAVBAR-----------*/

.Navbar {
  background-color: #3200e0;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  display: flex;
}

.Navbar ul {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  gap: 1.5em;
  background-color: rgba(244, 230, 217, 0.5);
  border-radius: 25px;
  padding: 0.1em 1em;
}

/*---------TOPICS-----------*/

/*-----ARTICLE_LIST----------*/

.ArticleList {
  background-color: #dcd8d8;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 3em 1.2em 1em 1.2em;
  border-radius: 45px;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

.ArticleList li {
  min-width: 100%;
  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 45px;
  display: inline-block;
  padding: 0.75em 2em 0.75em 2em;
  letter-spacing: -5%;
  line-height: 1.8em;
  margin-bottom: 8px;
  min-height: 120px;
}

.ArticleList li > h1 {
  font-family: "Julius", sans-serif;
  color: #3200e0;
  font-size: 16px;
}

.ArticleList li > h2 {
  font-size: 28px;
  line-height: 0.8em;
  height: 80px;
  overflow-y: hidden;
  padding-bottom: 2.5px;
  font-family: "Inter ", sans-serif;
  letter-spacing: -1.5px;

  background: -webkit-linear-gradient(
    270deg,
    rgb(76, 61, 57, 1) 70%,
    rgba(76, 61, 57, 0.1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4px;
}

.ArticleList li > h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: -7.5%;
  max-height: 50px;
  overflow-y: hidden;
  padding-top: 4px;
  background: -webkit-linear-gradient(
    270deg,
    rgb(76, 61, 57, 1) 0%,
    rgba(76, 61, 57, 0.1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4px;
}

.ArticleList li > p {
  color: #3200e0;
  font-size: 12px;
}

/*---------ARTICLE--------*/

.Article {
  background-color: #fff;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 2em 1.2em 3em 1.2em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Article h1 {
  color: #000;
  font-size: 34px;
  margin-bottom: -5px;
}

.Article h2 {
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 0.8em;
  color: #01aab3;
  padding-bottom: 0.5em;
}

.Article p {
  font-size: 54px;
  font-weight: 300;
  line-height: 0.8em;
  letter-spacing: -7.5%;
  overflow-y: hidden;
  padding-top: 0.5em;
  color: #1e1e1e;
  margin-bottom: 4px;
}

.Article small {
  font-size: 18px;
  color: #017d84;
}

.Article button {
  display: flex;
  align-items: center;
}

#upvote-btn {
  border: none;
  background: none;
  align-items: stretch;
}

#upvote-img {
  width: 4em;
  margin-bottom: 4em;
}

/*-------COMMENTS--------*/

.Comments {
  background-color: #4c3d39;
  border-radius: 45px;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
  padding: 0.5em 1.2em 1em 1.2em;
  margin: 0 -1.2em 0 -1.2em;
  min-width: 50vw;
}

.Comments-closed {
  background-color: #4c3d39;
  border-radius: 45px;
  border: none;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
  padding: 1em;
}

.Comments-closed p {
  font-size: 25px;
  color: #f4e6d9;
}

.Comments li {
  margin-bottom: 3em;
}

.Comments h1 {
  color: #ff2500;
}

.Comments h2 {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0px;
}

.Comments p {
  color: #f4e6d9;
}

.Comments p > small {
  color: #fff;
}

.Comments button {
  background: none;
  border: none;
  color: #01aab3;
  font-size: 30px;
  font-weight: 400;
  width: 75px;
  height: 75px;
  align-items: stretch;
  display: flex;
  padding-top: 0.5em;
}

.Comment--input {
  background-color: #f4e6d9;
  border-radius: 20px;
  border: none;
  min-height: 5em;
  padding: 0.5em;
  font-size: 25px;
  overflow-wrap: break-word;
  word-break: break-all;
  margin-bottom: 20px;
  width: 90vw;
}

#Comments-headline {
  line-height: 1em;
  font-size: 35px;
  color: #ffa001;
  padding-bottom: 0px;
}

#addComment-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 2em;
  border-bottom: 2px #ffa001 solid;
}

#addComment-btn h2 {
  align-self: center;
  padding: 5px;
}

#addComment-btn img {
  width: 35px;
}

#comment-message {
  font-size: 20px;
  padding-bottom: 3em;
}

#submit-btn {
  width: 120px;
  height: 50px;
  padding-bottom: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01aab3;
  color: #4c3d39;
  font-weight: 600;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px #ffa001 solid;
}
