@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@200;300;400;600&family=Inter:wght@400;700&family=Julius+Sans+One&display=swap");

/*-----------RESET----------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* border: solid red 1px; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

#topic-btn {
  width: 60px;
  height: 8px;
  background-color: rgba(255, 160, 1, 0.5);
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-top: -14px;
  margin-bottom: 14px;
  border: none;
}

#header-btn {
  width: 60px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: block;
  margin: auto;
  border: none;
  margin-bottom: 4px;
}

#articleList-btn {
  width: 60px;
  height: 8px;
  background-color: rgba(1, 170, 179, 0.5);
  border-radius: 15px;
  display: block;
  margin: auto;
  border: none;
  margin-top: -22px;
  margin-bottom: 20px;
}

#back-btn {
  width: 3em;
  height: 3em;
  border: none;
  padding-bottom: 1.5em;
}

#backArrow-btn {
  width: 3em;
  height: 3em;
  border: none;
  background: none;
  margin-bottom: 10px;
}

#backArrow-btn > img {
  width: 40px;
}

/* html {
  color-scheme: dark light;
} */

/*--------APP----------*/

.App {
  background-color: #3200e0;
  color: #ffa001;
  font-family: "Anek Kannada", sans-serif;
  width: 100.08vw;
}

.App-layer2 {
  background-color: #01aab3;
  border-radius: 45px 45px 0 0;
}

/*----------HEADER---------*/

.Header {
  /* width: 100vw;   */
  font-size: 22px;
  font-weight: 600;
  margin: auto;
  padding: 0.5em 2em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
}

.Header ul {
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
}

.Header a {
  text-decoration: none;
}

.Header li {
  align-self: center;
  font-size: 24px;
}

.Header button {
  background: none;
  border: none;
  color: #ffa001;
}

.Header button:focus {
  color: #1e1e1e;
}

#user-welcome {
  font-size: 18px;
  font-weight: 400;
}
/*--------NAVBAR-----------*/

.Navbar {
  background-color: #3200e0;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  display: flex;
}

.Navbar ul {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  gap: 1.5em;
  background-color: rgba(244, 230, 217, 0.5);
  border-radius: 25px;
  padding: 0.1em 1em;
}
/*---------LOGIN-----------!!!!!NEED TO RENAME TO 'HOME'*/

.Login {
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.75em 0 0.75em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -6px 6px rgb(0, 0, 0, 0.2);
  background-color: #ffa001;
  color: #4c3d39;
}

.LoginHome {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa001;
  color: #4c3d39;
}

.Login h1,
.LoginHome h1 {
  font-size: 95px;
  letter-spacing: -6px;
}

.Login button,
.LoginHome button {
  padding: 0.2em 1em 0 1em;
  width: max-content;
  height: 2em;
  border: none;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 600;
  background: none;
  color: #fff;
}

/*---------TOPICS-----------*/

.Topics {
  background-color: #fff;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 1.5em 1.2em 6em 1.2em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 14vh;
  margin-bottom: -40px;
}

.Topics ul {
  display: flex;
  justify-content: space-around;
}

.Topics button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.Topics button:hover,
button:focus {
  color: #01aab3;
}

/*-----ARTICLE_LIST----------*/

.ArticleListLoading {
  background-color: #dcd8d8;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 3em 1.2em 1em 1.2em;
  border-radius: 45px;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  height: 90vh;
  overflow-x: hidden;
}

.ArticleList {
  background-color: #dcd8d8;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 2em 1.2em 1em 1.2em;
  border-radius: 45px;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

.ArticleList li {
  min-width: 100%;
  background-color: rgba(1, 1, 1, 0.2);
  border-radius: 45px;
  display: inline-block;
  padding: 1em 2em 0.75em 2em;
  letter-spacing: -5%;
  line-height: 1.8em;
  margin-bottom: 8px;
}

.ArticleList li > h1 {
  font-family: "Julius", sans-serif;
  color: #3200e0;
  font-size: 20px;
}

.ArticleList li > h2 {
  font-size: 28px;
  line-height: 0.8em;
  overflow-y: hidden;
  padding-bottom: 5px;
  font-family: "Inter ", sans-serif;
  letter-spacing: -1.5px;
}

.ArticleList li > h3 {
  font-size: 34px;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: -7.5%;
  padding: 4px 0;
  color: #fff;
}

.ArticleList li > p {
  color: #4c3d39;
  font-size: 12px;
}

.ArticleList button {
  background: none;
  border: none;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.sortList {
  background-color: rgb(0, 0, 0, 0.05);
  color: #1e1e1e;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2em;
  border-radius: 25px;
  padding: 5px 5px 0 5px;
}

.sortList li {
  padding: 0.5em 2em 0.3em 2em;
  background-color: #fff;
}

#sort-btn {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 24px;
}

#order-btn {
  display: flex;
  align-items: center;
}

/*---------ARTICLE--------*/

.ArticleLoading {
  background-color: #dcd8d8;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 3em 1.2em 1em 1.2em;
  border-radius: 45px;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  height: 90vh;
  overflow-x: hidden;
}

.Article {
  background-color: #fff;
  color: #0b0905;
  margin: 0 0.75em 0 0.75em;
  align-content: center;
  padding: 2em 1.2em 3em 1.2em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Article h1 {
  color: #000;
  font-size: 34px;
  margin-bottom: -5px;
}

.Article h2 {
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 0.8em;
  color: #01aab3;
  padding-bottom: 0.5em;
}

.Article p {
  font-size: 54px;
  font-weight: 300;
  line-height: 0.8em;
  letter-spacing: -7.5%;
  overflow-y: hidden;
  padding-top: 0.5em;
  color: #1e1e1e;
  margin-bottom: 4px;
}

.Article small {
  font-size: 18px;
  color: #017d84;
}

.Article button {
  display: flex;
  align-items: center;
}

#upvote-btn {
  border: none;
  background: none;
  align-items: stretch;
}

#upvote-img {
  width: 4em;
  margin-bottom: 4em;
}

/*-------COMMENTS--------*/

.Comments {
  background-color: #4c3d39;
  border-radius: 45px;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  padding: 0.5em 1.2em 1em 1.2em;
  margin: 0 -1.2em 0 -1.2em;
  min-width: 50vw;
}

.Comments-closed {
  background-color: #4c3d39;
  border-radius: 45px;
  border: none;
  box-shadow: 0 -4px 4px rgb(0, 0, 0, 0.2);
  padding: 1em;
}

.Comments-closed p {
  font-size: 25px;
  color: #f4e6d9;
}

.Comments li {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Comments li > h2 {
  padding-bottom: 0;
  width: 500px;
}

.Comments h1 {
  color: #ff2500;
}

.Comments h2 {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0px;
}

.Comments p {
  color: #f4e6d9;
}

.Comments p > small {
  color: #fff;
}

.Comments button {
  background: none;
  border: none;
  color: #01aab3;
  font-size: 30px;
  font-weight: 400;
  width: 75px;
  height: 75px;
  align-items: stretch;
  display: flex;
  padding-top: 0.5em;
}

.Comment--input {
  background-color: #f4e6d9;
  border-radius: 20px;
  border: none;
  min-height: 5em;
  padding: 0.5em;
  font-size: 25px;
  margin-bottom: 20px;
  width: 90vw;
}

#Comments-headline {
  line-height: 1em;
  font-size: 35px;
  color: #ffa001;
  padding-bottom: 0px;
}

#addComment-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 2em;
  border-bottom: 2px #ffa001 solid;
}

#addComment-btn h2,
#delete-comment--btn h2 {
  align-self: center;
  padding: 5px;
}

#delete-comment--btn {
  display: flex;
  padding: 20px 0 0 0;
  width: 200px;
  align-items: stretch;
  justify-content: center;
}

#addComment-btn img,
#delete-comment--btn img {
  width: 35px;
}

#comment-message {
  font-size: 20px;
  padding-bottom: 3em;
}

#submit-btn {
  width: 120px;
  height: 50px;
  padding-bottom: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01aab3;
  color: #4c3d39;
  font-weight: 600;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px #ffa001 solid;
}
