@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@200;400;600&family=Inter:wght@400;700&family=Julius+Sans+One&display=swap");

/*-----------RESET----------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid red 1px; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

li {
  list-style: none;
}

/* html {
  color-scheme: dark light;
} */

/*--------APP----------*/

.App {
  background-color: #01aab3;
  color: #ffa001;
  font-family: "Anek Kannada", sans-serif;
  width: 100vw;
}

/*----------HEADER---------*/

.Header {
  text-align: left;
  font-weight: 400;
  padding: 1em;
}

/*--------NAVBAR-----------*/

.Navbar {
  background-color: #3200e0;
  color: #fff;
}

/*---------TOPICS-----------*/

/*-----ARTICLE_LIST----------*/

.ArticleList {
  background-color: #dcd8d8;
  color: #0b0905;
  margin: 0 0.5em 0 0.5em;
  align-content: center;
  padding: 3em 1em 1em 1em;
  border-radius: 45px 45px 0 0;
  box-shadow: 0 -5px 6px rgb(0, 0, 0, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
}

.ArticleList li {
  min-width: 100%;
  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 45px;
  display: inline-block;
  padding: 0.75em 2.5em 0.75em 2.5em;
  letter-spacing: -5%;
  line-height: 1.8em;
  margin-bottom: 8px;
  min-height: 120px;
}

.ArticleList li > h1 {
  font-family: "Julius", sans-serif;
  color: #3200e0;
  font-size: 16px;
}

.ArticleList li > h2 {
  font-size: 18px;
  line-height: 0.8em;
  max-height: 50px;
  overflow-y: hidden;
  padding-top: 1.5px;
  margin-bottom: 2px;
  font-family: "Inter ", sans-serif;
  letter-spacing: -1.5px;
}

.ArticleList li > h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: -7.5%;
  max-height: 50px;
  overflow-y: hidden;
  padding-top: 4px;

  /* background-color: linear-gradient(180deg, rgba(11, 9, 5, 1) 27%, rgba(11, 9, 5, 0) 100%); */
  background: -webkit-linear-gradient(
    270deg,
    rgb(76, 61, 57, 1) 0%,
    rgba(76, 61, 57, 0.1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4px;
}

.ArticleList li > p {
  color: #3200e0;
  font-size: 12px;
}
